/* Estilo do Cabeçalho da Página (mesmo da homepage) */
.header-lista {
    background-color: #ecf7e6; /* Cor do cabeçalho igual à da homepage */
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-lista h1 {
    margin-left: 10px;
    font-size: 24px;
    color: #5ec57e; /* Cor verde para o texto do cabeçalho */
}

/* Ícone de Voltar */
.voltar-icon {
    width: 20px;
    cursor: pointer;
}

/* Estilo da seção da lista de desejos */
.conteudo-lista {
    margin-top: 80px; /* Para não sobrepor o cabeçalho */
    padding: 20px;
    color: #fff;
}
